[submodule "src/themes/mainroad"]
	path = src/themes/mainroad
	url = https://github.com/vimux/mainroad
[submodule "src/themes/hugo-notice"]
	path = src/themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
[submodule "src/themes/hugo-shortcode-gallery"]
	path = src/themes/hugo-shortcode-gallery
	url = https://github.com/digitalbricklayer/hugo-shortcode-gallery.git
[submodule "src/themes/hugo-cloak-email"]
	path = src/themes/hugo-cloak-email
	url = https://github.com/martignoni/hugo-cloak-email.git
