<div class="widget-sidemenu widget">
  <h4 class="widget__title"></h4>
  <nav class="widget__content">
    <a href="https://stackoverflow.com/users/42109/jack-hughes">
      <img src="https://stackoverflow.com/users/flair/42109.png"
           width="208" height="58"
           alt="profile for Jack Hughes at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
           title="profile for Jack Hughes at Stack Overflow, Q&amp;A for professional and enthusiast programmers" />
    </a>
  </nav>
</div>
